<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{home :: page_head}"></head>
<body>
    <header th:replace="~{home :: page_header}"></header>

    <div class="layout-main">
        <aside th:replace="~{home :: page_anside}"></aside>

        <section class="layout-content">
            <div class="page-header">
                <nav class="navbar navbar-expand-md bg-success px-3 d-flex justify-content-between align-items-center">
                    <a class="btn btn-success btn-md d-flex align-items-center gap-2" href="/anuncios/listar" role="button">
                        <span class="oi oi-spreadsheet" title="Cadastro" aria-hidden="true"></span>
                        <span>Listar Anúncios</span>
                    </a>
                </nav>
            </div>

            <div class="container" id="form-cadastro">
				<div th:if="${erro}" class="alert alert-danger">
				     <span th:text="${erro}"></span>
				 </div>

				 <div th:if="${sucesso}" class="alert alert-success">
				     <span th:text="${sucesso}"></span>
				 </div>
                <form th:action=" ${anuncio.id == null} ? @{/anuncios/salvar} : @{/anuncios/editar}" method="POST" th:object="${anuncio}">
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="titulo">Título</label>
                            <input type="text" class="form-control" id="nome" placeholder="Título do anuncio" th:field="*{titulo}" required/>
                        </div>

                        <div class="form-group col-md-6">
                            <label for="descricao">Descrição</label>
                            <textarea class="form-control" id="descricao" placeholder="Descrição do anuncio" th:field="*{descricao}" required></textarea>      
                        </div>
						
                        <div class="form-group col-md-6">
                            <label for="localizacao">Localização</label>
                            <textarea class="form-control" id="localizacao" placeholder="Local de atuação dos serviços" th:field="*{localizacao}" required></textarea>      
                        </div>

                        <div class="form-group col-md-6">
                            <label for="categoria">Área de atuação</label>
                            <select class="form-control" id="categoria" th:field="*{categoria}">
								<option value="TI_INFORMATICA">TI/INFORMÁTICA</option>
								<option value="MARCENARIA">MARCENARIA</option>
								<option value="GASTRONOMIA">GASTRONOMIA</option>
                                <option value="DESIGN">DESIGN</option>
								<option value="FINANCAS">FINANÇAS</option>
								<option value="SAUDE">SAÚDE</option>
                                <option value="EDUCACAO">EDUCAÇÃO</option>
								<option value="CONSTRUCAO_CIVIL">CONSTRUÇÃO CIVIL</option>	
							</select>      
                        </div>
						
						<div class="form-group col-md-6">
							<label for="servicos">Serviços</label>
							<select class="form-control" id="servicos" th:field="*{servicos}" multiple size="5" required>
								<option th:each="s : ${servicosuser}" th:value="${s.id}" th:text="${s.titulo}"></option>
							</select>
						</div>

                    </div>
					<input type="hidden" th:field="*{id}" />
                    <button type="submit" class="btn btn-primary btn-sm">Salvar</button>
                </form>
            </div>
        </section>
    </div>

    <footer class="layout-footer">
        <div class="container"></div>
    </footer>
	
	

    <!-- Scripts -->
    <script src="/webjars/jquery/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="/webjars/bootstrap/js/bootstrap.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.16/jquery.mask.min.js"></script>
	<script src="/webjars/jquery/jquery.min.js"></script>
	<script src="/webjars/bootstrap/js/bootstrap.bundle.min.js"></script>

    <script>
        $(function () {
            $('[data-toggle="popover"]').popover();
        });
        $(".navbar-toggler").click(function () {
            $(".sidebar").toggleClass("sidebar-open");
        });
		
		$(document).ready(function() {
				      $('#cpf').mask('000.000.000-00', {reverse: true});
		});
		
    </script>
</body>
</html>